doctype html
html(lang="pl")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title || 'SOiA'
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    header.site-header
      .container
        h1.logo SOiA
        if currentUser
          .topbar
            span Zalogowany: #{currentUser.username}
            form.inline-form(action="/logout" method="POST")
              button.button-secondary(type="submit") Wyloguj

    main.container
      include partials/flash
      block content